.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    color: #fff;
    height: 100%;
}

.events .subevents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .heading {
    text-align: center;
}

.events .about,
.events .year_select {
    text-align: center;
    margin-top: 12px;
}

.events .carousel {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 80vw;
    margin: auto;
    margin-top: 12px;
    position: relative;
}

.events .carousel .slide_count {
    text-align: center;
}

.events .carousel .content .next_slide,
.events .carousel .content .prev_slide {
    color: #fff;
    padding: 8px;
    position: relative;
    top: 50%;
}

.events .carousel .content .next_slide:hover,
.events .carousel .content .prev_slide:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.events .carousel .content {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 0;
}

.events .carousel .content .col_1,
.events .carousel .content .col_2 {
    flex-basis: 50%;
}

.events .carousel .content .col_0 {
    object-fit: contain;
    height: 50vh;
    width: 50%;
}

.events .carousel .content .col_1 {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.events .carousel .content .col_2 {
    text-align: center;
}

.events .subevents .register {
    background-color: #f9a826;
    color: #000;
    margin-top: 6px;
}

@media (max-width: 720px) {
    .events .carousel .content {
        flex-direction: column;
        padding: 12px;
    }

    .events .carousel .content .col_2 {
        width: 80%;
        margin: auto;
        margin-top: 12px;
    }

    .events .carousel .content .next_slide {
        position: absolute;
        right: 0;
    }

    .events .carousel .content .prev_slide {
        position: absolute;
        left: 0;
    }
}